* {
    margin: 0;
    padding: 0;
    
}


/*-------------------------------------- */
/* reusable components */ 
/*-------------------------------------- */

html {
    background-color: black;
}


.blog {
    font-size: 70px;;
    color: #fff;
    font-weight: 200;
    text-align: center;
    margin-top: 250px;
}


.soon {
    font-size: 60px;
    color: white;
    margin-right: 20px;
}
